body{
	background-color: #eee;
}

.container{
	padding: 30px;
}

.canvas-div{
	width: 45%;
	float: left;
}

.canvas-div canvas{
	border: 5px solid #000;
	background-color: #fff;
	display: block;
	margin-bottom: 10px;
}

.pull-right{
	float: right;
}

.btn{
	padding: 5px;
	border-radius: 0px;
}

.output-div{
	width: 45%;
	display: none;
	background-color: #fff;
	float: left;
}

.clearfix{
	clear: both;
}